@import '../../assets/styles/normalize';
@import '../../assets/styles/typography';

html{scroll-behavior:smooth}

* {
  box-sizing: border-box;
}

// --------------   header styles

.header_wrapper {
  background-color: #000000;
}

.header {
  max-width: 1160px;
  height: 80px;
  margin: auto;
}

.navigation {
  ul {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 58px;
    list-style: none;

    :last-child {
      margin-left: auto;
    }

    a {
      text-decoration: none;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 140%;
      color: #FFFFFF;

      h1 {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 19.0145px;
        line-height: 120%;
        padding-top: 4px;
        margin-right: 5px;
        /* or 23px */
        text-align: center;
        width: 82px;
        height: 52px;
        border: 1px solid #FFFFFF;
        border-radius: 2px;
        background-image: url(../../assets/icons/bamboo.svg);
        background-position: 9px 24px;
        background-repeat: no-repeat;
      }

    }

    .current_link {
      color: #FE9013;
      pointer-events: none;
    }
  }
}

.navigation a:hover {
  opacity: 70%;
  transition: 0.3s;
}

// --------------   Watch your favorite animal online styles

.watch_online_wrapper {
  background-image: url(../../assets/images/Giant_Panda.jpg);
  background-position: center bottom;
  background-size: cover;
  background-repeat: no-repeat;

}

.watch_online {
  height: 700px;
  max-width: 1160px;
  margin: auto;
  padding: 12px;

  .watch_circle {
    margin: 0 96px 69px auto;
    width: 465px;
    height: 465px;
    border-radius: 50%;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);

    h2 {
      position: relative;
      left: 73px;
      top: 74px;
      width: 500.31px;
      height: 400px;

      padding: 0;
      margin: 0;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 700;
      font-size: 106.496px;
      line-height: 75%;
      text-align: center;
      text-transform: uppercase;
      color: #FFFFFF;

      span {
        color: rgba(255, 238, 46, 1);
      }
    }
  }

  #btn_watch_online {
    display: block;
    width: 298px;
    height: 54px;
    margin: 0 87px auto auto;
    padding-left: 10px;
    background-color: #FE9013;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: 0;
    border-radius: 25px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }
  #btn_watch_online:hover {
      cursor: pointer;
      background: #E47209;
      transition: 0.3s;
    }
  #btn_watch_online:active {
      background: #4B9200;
    }
}




// --------------   The backstage styles


.the_backstage_wrapper {
  background: url(../../assets/images/flower_foto1.jpg) no-repeat top 12px right;
}

.the_backstage {
  max-width: 1160px;
  margin: auto;
  padding-bottom: 177px;
  padding-top: 140px;
  display: grid;
  grid-template-columns:1fr 1fr;
  gap: 87px;


  img{
    display: block;
    backdrop-filter: blur(2px);
  }

  h2 {
    margin-top: 0;
    margin-bottom: 22px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 120%;
    color: #333B41;
  }

  h3 {
    margin-top: 0;
    margin-bottom: 32px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 120%;
    color: #333B41;
  }

  .the_backstage_p1 {
    margin-top: 0;
    margin-bottom: 54px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #333B41;
  }

  .the_backstage_p2 {
    margin-top: 0;
    margin-bottom: 0;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: #333B41;
  }


}

// --------------   Pets styles

.pets_wrapper {
  padding-bottom: 100px;
  background: url(../../assets/images/palm_foto.jpg) no-repeat bottom left,
              url(../../assets/images/strelitzia1.jpg) no-repeat bottom right;
}

.card1 { grid-area: card1; }
.card2 { grid-area: card2; }
.card3 { grid-area: card3; }
.card4 { grid-area: card4; }
.card5 { grid-area: card5; }
.card6 { grid-area: card6; }
.pets_btn_left { grid-area: pets_btn_left; }
.pets_btn_right { grid-area: pets_btn_right; }

.pets {
  max-width: 1160px;
  margin: auto;
  margin-bottom: 80px;
  display: grid;
  grid-template-areas:
  'card1 card2 card3'
  'pets_btn_left . pets_btn_right'
  'card4 card5 card6';

  // grid-template-columns:1fr 1fr 1fr;

  row-gap: 10px;
  column-gap: 30px;

  .pets_card {

    width: 366px;
    height: 426px;
    border-radius: 5px;
    overflow: hidden;
    border: 1px solid rgba(250, 111, 50, 1);
    position: relative;

    img {
      position: relative;
      display: block;
      width: 366px;
      height: 366px;
    }
    .pets_card_caption{

      padding: 9px 15px;

      h2 {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        // line-height: 140%;
        text-transform: uppercase;
        color: #000000;
      }

      p {
        margin: 0;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 300;
        font-size: 15px;
        line-height: 120%;
        color: #000000;
      }

      position: relative;

      img {
        display: block;
        position: absolute;
        height: 38px;
        width: auto;
        right: 10px;
        top: 8px;
      }

    }

  }

  .pets_card:hover {
    transition: 0.3s;
    overflow: visible;

    img:nth-child(1) {
      z-index: 1;
      width: 386px;
      height: 386px;
      transform: translate(-10px, -10px);
      transition: 0.5s;
    }
    .pets_card_caption{
      z-index: 2;
      transform: translateY(-65px);
      transition: 0.5s;
      background: rgba(0, 0, 0, 0.5);
      h2, p {
        color: white;
      }
    }

  }

  position: relative;

  .pets_btn_left, .pets_btn_right {
    position: absolute;
    display: block;
    width: 62px;
    height: 62px;
    border: 0;
    border-radius: 50%;
    top: -33px;
    background-position: center;
    background-repeat: no-repeat;
  }

  #pets_btn_left {
    left: -82px;
    background-image: url(../../assets/icons/arrow_left.svg), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  }
  #pets_btn_left:hover {
    cursor: pointer;
    background-image: url(../../assets/icons/arrow_left.svg), linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
    transition: 0.9s;
  }
  #pets_btn_left:active {
    background-image: url(../../assets/icons/arrow_left.svg), linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
  }

  #pets_btn_right {
    right: -80px;
    background-image: url(../../assets/icons/arrow_right.svg), linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  }
  #pets_btn_right:hover {
    cursor: pointer;
    background-image: url(../../assets/icons/arrow_right.svg), linear-gradient(113.96deg, #E47209 1.49%, #E47209 101.44%);
    transition: 0.9s;
  }
  #pets_btn_right:active {
    background-image: url(../../assets/icons/arrow_right.svg), linear-gradient(113.96deg, #4B9200 1.49%, #4B9200 101.44%);
  }

}

#pets_choose_btn {
  display: block;
  width: 298px;
  height: 54px;
  margin: auto;
  padding-left: 10px;
  background-color: #FE9013;
  background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
  border: 0;
  border-radius: 25px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 140%;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
}
#pets_choose_btn:hover {
    cursor: pointer;
    background: #E47209;
    transition: 0.3s;
  }
#pets_choose_btn:active {
    background: #4B9200;
  }





