@charset "UTF-8";
.body {
  max-width: 1100px;
  margin: auto;
  padding: 25px 15px;
  background-color: #222222;
  color: #ffffff;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.header__top-row {
  display: flex;
  justify-content: space-between;
}
.header__top-row .header__logo {
  width: 200px;
}
.header__top-row .header__score {
  align-self: center;
  font-size: 22px;
  transition: 0.5s;
}

.header__nav {
  margin-top: 10px;
}

.header__nav-block {
  display: flex;
  border-radius: 5px;
  background-color: #008966;
  overflow: hidden;
}
.header__nav-block .header__nav-item {
  padding: 8px 12px;
  transition: 0.2s;
}
.header__nav-block .header__nav-item_current {
  background-color: #00bc8c;
  pointer-events: none;
}

.header__nav-item:hover {
  background-color: #00aa7f;
  cursor: pointer;
}

.main {
  position: relative;
}

.main__welcome-wrapper {
  position: relative;
  visibility: visible;
  opacity: 1;
  transition: 0.5s;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto;
  grid-template-areas: "welcome-title welcome-img" "welcome-button welcome-img";
  gap: 16px;
  background-color: #303030;
  border: 1px solid #444444;
  border-radius: 5px;
  margin-top: 25px;
  padding: 16px;
}

.main__welcome-title {
  grid-area: welcome-title;
  font-size: 48px;
  text-align: center;
  pointer-events: none;
  margin: 10px 0px 0px;
}

.main__welcome-img {
  grid-area: welcome-img;
  display: block;
  width: 100%;
  border-radius: 5px;
}

.main__welcome-btn {
  grid-area: welcome-button;
  align-self: end;
  background-color: #008966;
  border: 1px solid #444444;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.2s;
}

.main__welcome-btn:hover {
  background-color: #00aa7f;
  border: 1px solid #555555;
  cursor: pointer;
}

.main__game {
  position: relative;
  transition: 0.5s;
}

.game__levels {
  display: flex;
  justify-content: space-around;
  border-radius: 5px;
  background-color: #303030;
  overflow: hidden;
  pointer-events: none;
  text-align: center;
  margin-top: 25px;
  flex-wrap: wrap;
}
.game__levels .game__level {
  padding: 8px 12px;
  flex-grow: 1;
  white-space: nowrap;
  transition: 0.5s;
}
.game__levels .game__level_current {
  background-color: #444444;
}

.game__question {
  margin-top: 25px;
  padding: 16px;
  border-radius: 5px;
  background-color: #303030;
  display: flex;
}

.question__img {
  display: block;
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.question__desription {
  padding: 10px 25px 10px 41px;
  flex-grow: 1;
}

.question__title {
  border-bottom: 1px solid #444444;
  padding-bottom: 10px;
  font-size: 28px;
}

.question__audio-controls {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.question__audio-play-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.2s;
  background: url(../images/sound-play.png) center no-repeat;
}

.question__audio-play-btn_pause {
  background: url(../images/sound-pause.png) center no-repeat;
}

.question__audio-play-btn:hover {
  transform: scale(0.95);
}

.question__audio-seekbar-wrapper {
  width: 100%;
}

.question__audio-seekbar {
  width: 100%;
  height: 4px;
  cursor: pointer;
  margin-top: 23px;
  margin-bottom: 5px;
  background: #555555;
  -webkit-appearance: none;
  background-image: linear-gradient(#008966, #00aa7f);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

.question__audio-seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.question__audio-seekbar::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background-color: #00bc8c;
}

.question__audio-seekbar::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.question__audio-time {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.question__audio-volume-wrapper {
  display: flex;
  gap: 5px;
}

.question__audio-volume {
  height: 4px;
  cursor: pointer;
  margin-top: 12px;
  background: #555555;
  -webkit-appearance: none;
  background-image: linear-gradient(#008966, #00aa7f);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.question__audio-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.question__audio-volume::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background-color: #00bc8c;
}

.question__audio-volume::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.question__audio-volume-ico {
  width: 28px;
  height: 28px;
  background: url(../images/sound-volume.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.question__audio-volume-ico:hover {
  transform: scale(0.95);
}

.question__audio-volume-ico_muted {
  background: url(../images/sound-muted.png) no-repeat;
  background-size: 100%;
}

.game__answers-wrapper {
  margin-top: 25px;
  display: flex;
  gap: 25px;
}

.game__answers, .game__selected-answer {
  flex-grow: 1;
  flex-basis: 0;
  border-radius: 5px;
  background-color: #303030;
  border: 1px solid #444444;
  overflow: hidden;
}

.game__answer {
  padding: 16px 16px;
  cursor: pointer;
  transition: 0.2s;
}

.game__answer:not(:last-child) {
  border-bottom: 1px solid #444444;
}

.game__answer:hover {
  background-color: #444444;
}

.game__answer::before {
  content: "● ";
}

.game__answer_right {
  background-color: #008966;
}

.game__answer_right:hover {
  background-color: #00aa7f;
}

.game__answer_right::before {
  content: "● ";
  color: rgb(0, 173, 0);
}

.game__answer_wrong {
  background-color: #890000;
}

.game__answer_wrong:hover {
  background-color: #aa0000;
}

.game__answer_wrong::before {
  content: "● ";
  color: orangered;
}

.game__selected-answer {
  padding: 16px;
  min-width: 520px;
}

.selected-answer__wrapper, .gallery__selected-bird-wrapper {
  display: flex;
  gap: 25px;
}

.selected-answer__img, .gallery__selected-bird-img {
  display: block;
  width: 200px;
  height: 150px;
  border-radius: 5px;
}

.selected-answer__desription, .gallery__selected-bird-desription {
  padding-right: 9px;
  flex-grow: 1;
}

.selected-answer__title, .gallery__selected-bird-title {
  border-bottom: 1px solid #444444;
  padding: 0px 0px 10px;
  font-size: 22px;
}

.selected-answer__name, .gallery__selected-bird-name {
  border-bottom: 1px solid #444444;
  padding: 10px 0px;
  font-size: 18px;
}

.selected-answer__info {
  margin-top: 10px;
}

.selected-answer__audio-controls, .gallery__audio-controls {
  margin-top: 16px;
  display: flex;
  gap: 16px;
}

.selected-answer__audio-play-btn, .gallery__audio-play-btn {
  width: 50px;
  height: 50px;
  cursor: pointer;
  flex-shrink: 0;
  transition: 0.2s;
  background: url(../images/sound-play.png) center no-repeat;
}

.selected-answer__audio-play-btn_pause, .gallery__audio-play-btn_pause {
  background: url(../images/sound-pause.png) center no-repeat;
}

.selected-answer__audio-play-btn:hover, .gallery__audio-play-btn:hover {
  transform: scale(0.95);
}

.selected-answer__audio-seekbar-wrapper, .gallery__audio-seekbar-wrapper {
  width: 100%;
}

.selected-answer__audio-seekbar, .gallery__audio-seekbar {
  width: 100%;
  height: 4px;
  cursor: pointer;
  margin-top: 23px;
  margin-bottom: 5px;
  background: #555555;
  -webkit-appearance: none;
  background-image: linear-gradient(#008966, #00aa7f);
  background-size: 0% 100%;
  background-repeat: no-repeat;
}

.selected-answer__audio-seekbar::-webkit-slider-thumb,
.gallery__audio-seekbar::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.selected-answer__audio-seekbar::-webkit-slider-thumb:hover,
.gallery__audio-seekbar::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background-color: #00bc8c;
}

.selected-answer__audio-seekbar::-moz-range-thumb,
.gallery__audio-seekbar::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.selected-answer__audio-time, .gallery__audio-time {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.selected-answer__audio-volume-wrapper, .gallery__audio-volume-wrapper {
  display: flex;
  gap: 5px;
}

.selected-answer__audio-volume, .gallery__audio-volume {
  height: 4px;
  cursor: pointer;
  margin-top: 12px;
  background: #555555;
  -webkit-appearance: none;
  background-image: linear-gradient(#008966, #00aa7f);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.selected-answer__audio-volume::-webkit-slider-thumb,
.gallery__audio-volume::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.selected-answer__audio-volume::-webkit-slider-thumb:hover,
.gallery__audio-volume::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background-color: #00bc8c;
}

.selected-answer__audio-volume::-moz-range-thumb,
.gallery__audio-volume::-moz-range-thumb {
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #00aa7f;
  cursor: pointer;
  -moz-transition: 0.2s;
  transition: 0.2s;
}

.selected-answer__audio-volume-ico, .gallery__audio-volume-ico {
  width: 28px;
  height: 28px;
  background: url(../images/sound-volume.png) no-repeat;
  background-size: 100%;
  cursor: pointer;
  transition: 0.2s;
}

.selected-answer__audio-volume-ico:hover,
.gallery__audio-volume-ico:hover {
  transform: scale(0.95);
}

.selected-answer__audio-volume-ico_muted,
.gallery__audio-volume-ico_muted {
  background: url(../images/sound-muted.png) no-repeat;
  background-size: 100%;
}

.gallery__selected-bird-title {
  font-size: 26px;
}

.gallery__info {
  margin-top: 20px;
}

.game__next-btn {
  margin-top: 25px;
  display: block;
  width: 100%;
  background-color: #008966;
  border: 1px solid #444444;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.2s;
}

.game__next-btn:hover {
  background-color: #00aa7f;
  border: 1px solid #555555;
  cursor: pointer;
}

.game__next-btn_disabled {
  background-color: #303030 !important;
  pointer-events: none;
}

.main__win {
  background-color: #303030;
  border: 1px solid #444444;
  border-radius: 5px;
  margin-top: 25px;
  padding: 64px 16px 32px;
}

.main__win-title {
  font-size: 58px;
  text-align: center;
  pointer-events: none;
}

.main__win-text, .main__win-text-wrapper {
  margin-top: 50px;
  font-size: 18px;
  text-align: center;
  pointer-events: none;
}

.main__win-btn {
  margin: auto;
  margin-top: 50px;
  display: block;
  width: 100%;
  background-color: #008966;
  border: 1px solid #444444;
  color: #ffffff;
  font-size: 18px;
  padding: 8px 12px;
  border-radius: 5px;
  transition: 0.2s;
}

.main__win-btn:hover {
  background-color: #00aa7f;
  border: 1px solid #555555;
  cursor: pointer;
}

.main__gallery {
  margin-top: 25px;
}

.gallery__selector-wrapper {
  display: flex;
  gap: 25px;
}

.gallery__levels, .gallery__birds {
  flex-grow: 1;
  border-radius: 5px;
  background-color: #303030;
  border: 1px solid #444444;
  overflow: hidden;
}

.gallery__level, .gallery__bird {
  padding: 16px 16px;
  cursor: pointer;
  transition: 0.2s;
}

.gallery__level:not(:last-child), .gallery__bird:not(:last-child) {
  border-bottom: 1px solid #444444;
}

.gallery__level:hover, .gallery__bird:hover {
  background-color: #444444;
}

.gallery__level_selected, .gallery__bird_selected {
  background-color: #008966;
}

.gallery__level_selected:hover, .gallery__bird_selected:hover {
  background-color: #00aa7f;
}

.gallery__selected-bird {
  margin-top: 25px;
  padding: 32px 16px;
  border-radius: 5px;
  background-color: #303030;
}

.footer__nav-block {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 10%;
  margin-top: 25px;
  padding: 0px 16px;
}

.footer__nav-link {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
}

.footer__nav-link:hover {
  text-decoration: none;
  color: #00bc8c;
}

.footer__lang {
  transition: 0.2s;
  cursor: pointer;
}

.footer__lang:hover {
  color: #00bc8c;
}

.footer__lang_active {
  color: #00bc8c;
  pointer-events: none;
}

.hidden-block {
  opacity: 0;
  visibility: hidden;
}

.disabled-block {
  display: none;
}

@media screen and (max-width: 855px) {
  .game__level {
    width: 23%;
  }
  .game__answers-wrapper {
    flex-direction: column;
  }
  .game__answers {
    flex-basis: auto;
  }
  .game__selected-answer {
    min-width: auto;
    flex-basis: auto;
  }
}
@media screen and (max-width: 780px) {
  .main__welcome-wrapper {
    grid-template-columns: 1fr;
    grid-template-areas: "welcome-title" "welcome-img" "welcome-button";
  }
  .main__welcome-title {
    font-size: 8vw;
  }
  .main__welcome-img {
    max-width: 300px;
    place-self: center;
  }
  .main__win-title {
    font-size: 11vw;
  }
}
@media screen and (max-width: 540px) {
  .header__nav-block {
    justify-content: space-around;
  }
  .game__level {
    width: 40%;
  }
  .game__question {
    flex-direction: column;
  }
  .question__desription {
    padding: 10px 0 0 0;
  }
  .question__img {
    align-self: center;
  }
  .selected-answer__wrapper {
    flex-direction: column;
  }
  .selected-answer__img {
    align-self: center;
  }
  .gallery__selector-wrapper {
    flex-direction: column;
  }
  .gallery__selected-bird-wrapper {
    flex-direction: column;
  }
}/*# sourceMappingURL=style.css.map */