.body {
  max-width: 1100px;
  margin: auto;
  padding: 25px 15px;
  background-color: #222222;
  color: #ffffff;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
}

.header__top-row {
  margin-bottom: 10px;

  .header__logo {
    width: 200px;
  }
}

.header__nav {
  margin-bottom: 25px;
}

.header__nav-block {
  display: flex;
  border-radius: 5px;
  background-color: #008966;
  overflow: hidden;

  .header__nav-item {
    padding: 8px 12px;
  }

  .header__nav-item_current {
    background-color: #00bc8c;
  }
}





.main {
  background-color: #303030;
  border: 1px solid #444444;
  border-radius: 0.25rem;
}