.footer {
  background: #111115;
  height: 443px;
}

.footer__petstory_online { grid-area: footer__petstory_online; }
.footer__subscribe { grid-area: footer__subscribe; }
#donate_for_volunteers_btn { grid-area: donate_for_volunteers_btn; }
.footer__social { grid-area: footer__social; }
.footer__navigation { grid-area: footer__navigation; }
.designed_by { grid-area: designed_by; }

.footer__wrapper {
  margin: auto;
  max-width: 1160px;
  padding-top: 23px;
  height: max-content;

  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-areas:
  'footer__petstory_online . footer__subscribe'
  'donate_for_volunteers_btn . .'
  'footer__social footer__navigation designed_by';

  a.footer__petstory_online {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;

    p {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 19.0145px;
      line-height: 120%;
      /* or 23px */
      text-align: center;
      width: 82px;
      height: 52px;
      border: 1px solid #FFFFFF;
      border-radius: 2px;
      background-image: url(../../assets/icons/bamboo.svg);
      background-position: 9px 20px;
      background-repeat: no-repeat;
    }

    :hover {
      opacity: 70%;
      transition: 0.3s;
    }
  }

  .footer__subscribe {
    margin-top: 18px;
    justify-self: end;

    p {
      margin: 0;
      margin-bottom: 13px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
      line-height: 120%;
      color: #FFFFFF;
    }

    #input_email {
      width: 228px;
      height: 42px;
      padding: 10px;
      margin-right: 6px;
      background-color: #111115;
      border: 1px solid rgba(249, 128, 75, 1);
      border-radius: 2px;

      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #BDBDBD;
      outline: none;
    }

    #input_email::placeholder {
    color: #BDBDBD;
    }

    #input_email:-webkit-autofill {
      background-color: #111115;
      color: #BDBDBD;
    }

    #input_submit {
      width: 129px;
      height: 42px;
      background: #F1F3F2;
      border: 1px solid #333B41;
      border-radius: 5px;
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 140%;
      color: #000000;
    }

    #input_submit:hover {
      transform: scale(1.02);
    }

    #input_submit:active {
      border: 1px solid #4B9200;
      color: #4B9200;
      transform: scale(1);
    }

    #input_email:invalid {
      border: 1px solid #D31414;
      color: #D31414;
    }

    #input_email:invalid ~ #input_submit {
      border: 1px solid #D31414;
      color: #D31414;
    }
  }

  #donate_for_volunteers_btn {
    margin-top: 36px;
    display: block;
    width: 298px;
    height: 54px;
    padding-left: 6px;
    background-color: #FE9013;
    background-image: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border: 0;
    border-radius: 5px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  #donate_for_volunteers_btn:hover {
      cursor: pointer;
      background: #E47209;
      transition: 0.3s;
    }

    #donate_for_volunteers_btn:active {
      background: #4B9200;
  }

  .footer__social {
    list-style: none;
    margin-top: 35px;
    margin-bottom: 0;
    padding: 0;

    li {
      margin-top: 9px;

      a {
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;

        div {
          width: 26px;
          height: 26px;
          border-radius: 50%;
          background: rgba(196, 196, 196, 0.5);
          display:inline-flex;
          justify-content:center;
          align-items:center;
          margin-right: 12px;
        }
      }

      :active {
        color: #4B9200;
        transition: 0.3s;

        div {
          background: #4B9200;
          transition: 1s;
        }
      }

      :hover {
        opacity: 0.7;
        transition: 0.3s;

        div {
          opacity: 0.7;
          transition: 1s;
        }
      }
    }
  }

  .footer__navigation {
    align-self: end;

    ul {
      margin: 0 32px -1px 101px;
      padding: 0;
      display: flex;
      justify-content: space-between;
      list-style: none;

      a {
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 140%;
        color: #FFFFFF;
      }

      .current_link {
        color: #FE9013;
        pointer-events: none;
      }
    }
  }

  .footer__navigation a:hover {
    opacity: 70%;
    transition: 0.3s;
  }

  .designed_by {
    margin-bottom: -1px;
    place-self: end end;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-size: 16px;
    line-height: 130%;
    color: #bdbdbd;

    p {
      margin: 0;
      margin-top: 10px;
    }
  }
}



// --------------------------------------- MEDIA START ---------------------

@media screen and (max-width: 1599px) {
  .footer {
    padding: 30px 30px 30px 30px;
  }

  .footer__wrapper {
    padding-top: 0;
    grid-template-areas:
    'footer__petstory_online footer__subscribe footer__subscribe'
    'donate_for_volunteers_btn donate_for_volunteers_btn .'
    'footer__social footer__navigation designed_by';

    a.footer__petstory_online {
      p {
        margin: 11px 0 0 1px;
      }
    }

    .footer__subscribe {
      margin: 11px 32px 0 0;

      #input_email {
        margin-right: 5px;
      }

      #input_submit {
        margin: 0 1px 0 0;
      }
    }

    #donate_for_volunteers_btn {
      margin: 35px 0 0 1px;
    }

    .footer__navigation {

      ul {
        margin: 0 89px -1px 181px;
        // margin: 0 77px -1px 193px; position fix
      }
    }
  }
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 980px) {
  .footer {
    padding: 12px 20px 15px 20px;
    height: 282px;
  }

  .footer__wrapper {
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'footer__petstory_online . footer__social'
    'donate_for_volunteers_btn donate_for_volunteers_btn footer__social'
    'footer__navigation footer__navigation designed_by';

    a.footer__petstory_online {
      p {
        margin: 1px 0 0 1px;
      }
    }

    .footer__subscribe {
      display: none;
    }


    .footer__social {
      margin-top: 0;

      li {
        width: fit-content;
        margin: 0 0 19px auto;

        a {
          div {
            margin-right: 0;
          }
          span {
            display: none;
          }
        }
      }
    }

    #donate_for_volunteers_btn {
      margin: 32px 0 0 0px;
    }


    .footer__navigation {
      ul {
        margin: 0 74px 1px 1px;
      }
    }

    .designed_by {
      margin: 14px 1px 0 0;
    }
  }
}


@media screen and (max-width: 640px) {


}

@media screen and (max-width: 600px) {

  .footer {
    padding: 14px 10px 20px 10px;
    height: auto;
  }

  .footer__wrapper {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns: auto;
    grid-template-areas:
    'footer__petstory_online'
    'footer__social'
    'donate_for_volunteers_btn'
    'designed_by'
    'footer__navigation';

    a.footer__petstory_online {
      padding: 0;
      margin-bottom: 29px;
      p {
        display: flex;
        margin: 0 auto;
        width: max-content;
        height: 30px;
        align-items: flex-end;
        border: none;
        background-image: url(../../assets/icons/bamboo.svg);
        background-position: 72px 3px;
      }
    }

    .footer__social {
      display: flex;
      justify-content: space-evenly;
      margin: 0 23px 28px 23px;

      li {
        margin: 0;
      }
    }

    #donate_for_volunteers_btn {
      padding-top: 2px;
      padding-left: 2px;
      margin: 0 auto 18px auto;
      max-width: 298px;
      width: 100%;
    }


    .footer__navigation {
      ul {
        justify-content: space-between;
        margin: 0 11px 0px 11px;
      }
    }

    .designed_by {
      margin: 0px 0px 28px 0px;
      font-size: 15px;
      p {
        margin-top: 12px;
      }
    }
  }

}

@media screen and (max-width: 320px) {
  .footer__wrapper #donate_for_volunteers_btn {
    margin: 0 auto 18px -1px;
    padding-left: 6px;
  }
}








@media screen and (max-width: 1599px) {
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 980px) {
}

@media screen and (max-width: 640px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 320px) {
}