body {
  width: 100vw;
  height: 100vh;
  font-size: 1px;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 50px;
  background: url(./assets/images/bg-full.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
}

* {
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.header__wrapper {
  max-width: 700px;
  margin: auto;
  background: rgb(206, 206, 206);
  padding: 30px 50px 30px 50px;
  position: relative;
  border: 5px solid grey;
  border-bottom: none;
  box-shadow: 0px 0px 5px black;
}

.header__nav {
  display: flex;
  justify-content: space-between;
}
.header__nav button {
  display: block;
  font-size: 25em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}
.header__nav div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__nav div button {
  width: 40px;
  height: 40px;
  border: 1px solid black;
}

#new_game_btn {
  font-size: 60em;
}

button:active {
  transform: scale(0.98);
}

#win_window {
  position: fixed;
  z-index: 2;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.758);
}
#win_window div {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(206, 206, 206);
  padding: 60px 40px 30px 40px;
  border-radius: 30px;
  box-shadow: 0px 0px 15px black;
  border: 5px solid grey;
}
#win_window #win_message {
  font-size: 35em;
  text-align: center;
  margin-bottom: 50px;
}
#win_window button {
  display: block;
  margin: auto;
  padding: 0 30px;
  font-size: 75em;
  border-radius: 10px;
  cursor: pointer;
}
#win_window button:active {
  transform: scale(0.98);
}

.hidden {
  display: none;
}

#new_game_size {
  border-radius: 5px;
  font-size: 25em;
  margin: 0 5px;
}

.btn_pressed {
  color: rgb(163, 163, 163);
  text-decoration: line-through;
  border: 2px solid rgb(163, 163, 163);
}

.main__wrapper {
  max-width: 700px;
  margin: auto;
  background: rgb(197, 208, 223);
  padding: 20px 50px;
  font-size: 25em;
  text-transform: uppercase;
  border: 5px solid grey;
  border-top: none;
  box-shadow: 0px 0px 5px black;
}

.main__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-bottom: 20px;
}

.main__game {
  background: rgb(250, 250, 246);
  background: url(./assets/images/bg-small.jpg) center;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(4, 1fr);
  font-size: 2em;
  border: 5px solid rgb(206, 206, 206);
  margin-bottom: 20px;
  gap: 1px;
}

.main__game_square {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(255, 255, 241);
  border: 7px solid rgb(139, 125, 152);
  border-radius: 10%;
  outline: 2px solid rgb(139, 125, 152);
  outline-offset: -10px;
  cursor: pointer;
  position: relative;
}

.main__game_square::after {
  content: "";
  width: 0;
  padding-top: 100%;
}

.main__game_square_empty {
  opacity: 0%;
  cursor: default;
}

.options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.options li button {
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

.main__top_score {
  display: block;
  margin: auto;
  margin-bottom: 20px;
  font-size: 1em;
  text-transform: uppercase;
  border-radius: 5px;
  cursor: pointer;
}

#main__top_results {
  margin: auto;
  height: 15vh;
  overflow-y: auto;
  text-transform: lowercase;
  background: rgb(250, 250, 246);
  border: 5px solid rgb(206, 206, 206);
  padding: 10px;
}
#main__top_results div {
  text-align: center;
}

@media screen and (max-width: 700px) {
  body {
    font-size: 0.15vw;
    padding-top: 0;
  }
  .header__wrapper {
    padding: 20px 10px;
  }
  .header__nav {
    justify-content: space-around;
  }
  .header__nav div button {
    width: 6vw;
    height: 6vw;
  }
  .main__wrapper {
    padding: 20px 10px;
  }
  .main__game {
    font-size: 1.5em;
  }
}/*# sourceMappingURL=style.css.map */