body {
    font-size: 1px;
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 50px;
    background-color: black;
}

* {
    box-sizing: border-box;
    user-select: none;
}

.header__wrapper {
    max-width: 700px;
    margin: auto;
    background: rgb(206, 206, 206);
    padding: 30px 50px 5px 50px;
    position: relative;
}

.header__nav {
    ul {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        li {
            button {
                font-size: 25em;
                text-transform: uppercase;
                border-radius: 5px;
                cursor: pointer;
            }

            button:active {
                transform: scale(0.98);
            }

            div {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 5px;
                button {
                    width: 25%;
                    border: 1px solid black;
                }
            }
        }
    }
}

#win_window {
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.494);

    div {
        margin: auto;
        margin-top: 300px;
        max-width: 600px;
        background:  rgb(206, 206, 206);
        padding: 40px;
        border-radius: 30px;
    }
    #win_message {
        font-size: 35em;
        text-align: center;
        margin-bottom: 30px;
    }
    button {
        display: block;
        margin: auto;
        padding: 0 30px;
        font-size: 25em;
        border-radius: 10px;
        cursor: pointer;
    }
    button:active {
        transform: scale(0.98);
    }
}

.hidden {
    display: none;
}

#new_game_size {
    // border: 2px solid black;
    border-radius: 5px;
    font-size: 25em;
    margin: 0 5px;
}

.btn_pressed {
    color: rgb(163, 163, 163);
    text-decoration: line-through;
    border: 2px solid rgb(163, 163, 163);;
}

.main__wrapper {
    max-width: 700px;
    margin: auto;
    background: rgb(197, 208, 223);
    padding: 20px 50px;
    font-size: 25em;
    text-transform: uppercase;
}

.main__stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 20px;
}

.main__game {
    // width: fit-content;
    // margin: auto;
    background: rgb(250, 250, 246);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
    font-size: 2em;
    border: 5px solid rgb(206, 206, 206);
    margin-bottom: 20px;
    gap: 1px;
}

.main__game_square {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 241);
    border: 7px solid rgb(139, 125, 152);
    border-radius: 10%;
    cursor: pointer;
    position: relative;
}

.main__game_square::after {
    content: '';
    width: 0;
    padding-top: 100%;
}

.main__game_square_empty {
    opacity: 0%;
    cursor: default;
}

.main__top_score {
    max-width: max-content;
    margin: auto;
    margin-bottom: 20px;
}

#main__top_results {
    max-width: max-content;
    margin: auto;
    height: 15vh;
    overflow-y: auto;
    text-transform: lowercase;
}

// ------------------------------------- Media start----------------------------

@media screen and (max-width: 700px) {
    body {
        font-size: 0.15vw;
        padding-top: 0;
    }

    .header__wrapper {
        padding: 20px 10px;
    }

    .main__wrapper {
        padding: 20px 10px;

    }

    .main__game {
        font-size: 1.5em;
    }

    #win_window {
        div {
            margin-top:30vw;
            padding: 5%;
        }
        #win_message {
            margin-bottom: 5%;
        }
    }
}